html,body{margin:0;padding:0;background-color: #FFFFFF}
body{ font-family: "Times New Roman", Times, serif;text-align:center}
p{font-size: 17px;text-align: left;}
h1{font-size: 26px;color:#BA2020;text-align: left;}
h2{font-size: 22px;color:black;text-align: left;font-weight:200;}
h3{font-size: 18px;color:gray;text-align: left;}
h4{font-size: 16px;color:#9A9A9A;text-align: left;}
h5{font-size: 28px;color:black;text-align: left;}
h6{font-size: 15px;color:black; text-align: left; font-style:italic;}